<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐞 Tester jobs acumulator</title>

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-8">

<h1 x-data="{title: '🐞 Tester jobs acumulator'}" x-text="title" class="text-lg font-semibold"></h1>

<div x-data="jobFetcher()">

    <button @click="scrapeJobs()"
            :disabled="scrapingInProgress"
            class="mb-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span x-show="!scrapingInProgress">Give me jobs!</span>
        <span x-show="scrapingInProgress">Loading...</span>
    </button>

    <div x-show="jobs.length > 0">
        <h2 class="text-lg font-semibold text-gray-900">Job offers found:</h2>

        <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
            <template x-for="(job, index) in jobs" :key="index">
                <li class="pb-3 sm:pb-4">
                    <a :href="job.link" class="text-indigo-600 hover:text-indigo-900">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <p x-text="job.title" class="font-semibold text-gray-900 truncate"></p>
                            <p x-text="job.company" class="text-sm text-gray-900 truncate"></p>
                            <p x-text="job.city" class="text-sm text-gray-900 truncate"></p>
                        </div>
                    </a>
                </li>
            </template>
        </ul>

    </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('jobFetcher', () => ({
            scrapingInProgress: false,
            jobs: [],
            
            scrapeJobs() {
                this.scrapingInProgress = true;
                fetch('/scrape/')
                    .then(response => response.json())
                    .then(data => {
                        this.jobs = data.map(job => ({
                            title: job.job_title,
                            company: job.company,
                            city: job.city,
                            link: job.link_offer
                        }));
                        this.scrapingInProgress = false;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        this.scrapingInProgress = false;
                    });
            }
        }));
    });
    </script>
    

</body>
</html>
