<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐞 Tester jobs acumulator</title>

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-8">
<h1 x-data="{title: '🐞 Tester jobs acumulator'}" x-text="title" class="text-lg font-semibold"></h1>

<div x-data="{ configPath: '', scrapingInProgress: false, jobs: [] }">

    <button @click="scrapeJobs()"
            :disabled="scrapingInProgress"
            class="mb-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span x-show="!scrapingInProgress">Give me jobs!</span>
        <span x-show="scrapingInProgress">Loading...</span>
    </button>

    <div x-show="jobs.length > 0">
        <h2 class="text-lg font-semibold text-gray-900">Znalezione oferty pracy:</h2>
        <ul class="mt-3 max-w-lg list-disc list-inside text-sm text-gray-600">
            <template x-for="job in jobs" :key="job.id">
                <li>
                    <a :href="job.link" class="text-indigo-600 hover:text-indigo-900" x-text="job.title"></a> - <span x-text="job.company"></span>
                </li>
            </template>
        </ul>
    </div>
</div>

<script>
    function scrapeJobs() {
        this.scrapingInProgress = true;
        fetch('/scrape/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ configPath: this.configPath })
        })
        .then(response => response.json())
        .then(data => {
            this.jobs = data.jobs;
            this.scrapingInProgress = false;
        })
        .catch((error) => {
            console.error('Error:', error);
            this.scrapingInProgress = false;
        });
    }
</script>

</body>
</html>
